<div class="container">
  <br>
  <div class="col-lg-12 well">
      <span class="pul-left text-success">
      Hello {{user.fullname}}
    </span>
    <span class="pull-right text-success">
      {{user.username}}
    </span></div>
    <br>


  <ul class="nav nav-tabs">
  <li [class.active]="regBillerPage"><a href="javascript:void(0)" (click)=subscribeBiller()>Register Biller</a></li>
  <li [class.active]="bills"><a href="javascript:void(0)" (click)=showBills()>Show Pending Bills</a></li>

</ul>
<br> <br>


<!--*****************Subscribe biller page****************-->

<div class="" name="Subscribe Biller" [hidden]="!regBillerPage">


  <form class="form-horizontal" (ngSubmit)="billerTxn()" >
  <fieldset>

  <h1>Subscribe biller:</h1><br>

  <div class="col-md-10" style="margin-left:145">
  <div class="panel panel-primary">
  <div class="panel-heading">Fill Details</div>
    <div class="panel-body">

<div class="form-group">
  <label class="col-md-5 control-label">Select your city:</label>
  <div class="col-md-6">
    <select class="control-label" #city (click)=onInputCity(city.value) name="city" [(ngModel)]=formData.city>
        <option *ngFor="let x of options" [value]="x.name">{{x.name}}</option>
    </select>
                  {{msg}}
        </div>
      </div>

    <div class="form-group" *ngIf=billers>
        <label class="col-md-5 control-label">select  biller:</label>
            <div class="col-md-6">
              <select class="control-label" #biller (click)=onInputBiller(biller.value) name="biller"[(ngModel)]=formData.biller>
                  <option *ngFor="let y of billers" [value]="y.email">{{y.billername}}</option>
              </select>
           </div>
      </div>

      <div class="form-group" *ngIf=billerValue>
        <label class="col-md-5 control-label">Pay from : </label>
          <div class="col-md-6">
         <input type="text" [disabled]="true"  [value]="user.account">
      </div>
    </div>
  </div>
</div>
</div>

          <!--Panel for selection of payment mode-->

    <div class="form-group" *ngIf=billerValue >

      <div class="col-md-10" style="margin-left:160"[hidden]="!modeOfPayment">


<div class="panel panel-primary">
<div class="panel-heading">Select mode of payment</div>
  <div class="panel-body">
   <div class="panel-group">
    <div class="col-sm-4" >
  <div class="panel panel-info" style="border:0">
     <div class="panel-heading">Immediate Payment</div>
      <div class="panel-body">

    <div class="panel panel-info">
      <div class="panel-body pull-left">



        <div class="radio">
            <label class="text-danger">
                <input type="radio" name="paymentMode" value="Pay Now" [(ngModel)]="formData.paymentMode">
              One-time
            </label>
        </div>



          <ul>
            <li class="text-muted">Make immediate bill payments easily.</li>
            <li class="text-muted">Add the biller to your biller list for easy payment in future.</li>
          </ul>
      </div>
    </div>

       </div>
    </div>
    <hr>
   </div>

      <div class="col-sm-8">
   <div class="panel panel-info" style="border:0">
      <div class="panel-heading">Register for Repeat Payments</div>
       <div class="panel-body">
      <div class="col-sm-6">
        <div class="">


     <div class="panel panel-info">
        <div class="panel-body pull-left">


          <div class="radio">
              <label class="text-danger">
                  <input type="radio" name="paymentMode" value="Confirm Pay" [(ngModel)]="formData.paymentMode">
                  Confirm & pay
              </label>
          </div>


            <ul>
              <li class="text-muted">Register now & let us track your bills.</li>
              <li class="text-muted">Get alerts reminding you to pay your bills before due date.</li>
            </ul>
        </div>
     </div>
     </div>
    </div>

    <div class="col-sm-6">
     <div class="panel panel-info" >
        <div class="panel-body pull-left">


          <div class="radio">
              <label class="text-danger">
                  <input type="radio" name="paymentMode" value="Auto Pay" [(ngModel)]="formData.paymentMode">
                  Auto pay
              </label>
          </div>

        <ul>
            <li class="text-muted">Register Now and have your bills paid automatically.</li>
            <li class="text-muted">Get alerts for payment made.</li>
        </ul>
            </div>
           </div>
          </div>

          </div>
          <hr>
       </div>


      </div>
     </div>

    </div>
    </div>


      </div>
    </div>
    <div class="col-md-7 control-label" [hidden]="showVendorForm" >
      <button  [disabled]="!(formData.paymentMode)" type="button" class="btn btn-primary" (click)="proceed()"> Proceed </button>
    </div>
<!--payment mode completed-->

<!--Start Vendor Form-->

<div class="" [hidden]=!showVendorForm >
<div class="col-sm-10" style="margin-left:145">
<div class="panel panel-primary" style="background-color:rgba(166, 161, 161, 0.26)">
<div class="panel-heading">Fill vendor form</div>
 <div class="panel-body" style="">

   <!-- Text input-->
   <div class="form-group">
     <label class="col-md-4 control-label" for="contact">Mobile No:</label>
     <div class="col-md-4">
     <input id="4" name="contact" maxlength="10"  pattern="[0-9]{10}" title="Mobile number should be of 10 digit without +91" placeholder="Enter  mobile number" [(ngModel)]="formData.mobile" class="form-control input-md" required="">
     </div>
   </div>

   <!-- Text input-->
   <div class="form-group">
     <label class="col-md-4 control-label" for="contact">Due Date:</label>
     <div class="col-md-4">
     <input id="4" type="date" name="duedate"placeholder="Enter due date" [(ngModel)]="formData.dueDate" class="form-control input-md" required="">
     </div>
   </div>

   <!-- Text input-->
   <div class="form-group">
     <label class="col-md-4 control-label" for="contact">Bill Date:</label>
     <div class="col-md-4">
     <input id="4" type="date" name="billdate"placeholder="Enter bill date" [(ngModel)]="formData.billDate" class="form-control input-md" required="">
     </div>
   </div>

</div>

</div>
</div>
</div>

<div class="col-md-7 control-label"  *ngIf="showVendorForm">
<button type="submit" [disabled]="!( (formData.mobile) && (formData.billDate) && (formData.dueDate))" class="btn btn-primary">{{formData.paymentMode}}</button>
</div>

</fieldset>
</form>
</div>

<!--*****************All bills page****************-->
<div class="" name="Subscribe Biller" [hidden]="!bills">



{{billMsg}}

<div class="" *ngIf="userBills">
<h3>All bills</h3>
<div *ngFor="let bill of userBills; let i = index" >
  Row {{i+1}} : {{bill.billerName}}  &nbsp; {{bill.utilityName}} &nbsp; {{bill.paymentFor}}
  &nbsp; {{bill.billDate}} &nbsp; {{bill.dueDate}} &nbsp;
  <span *ngIf="bill.paymentMode=='Confirm Pay'"> payment done on {{bill.txnDate}} and you are registered with us for reminder</span>
  <span *ngIf="bill.paymentMode=='Pay Now'"> payment done on {{bill.txnDate}}</span>
  <span *ngIf="bill.paymentMode=='Auto Pay'"> Don't worry, you are registered with us!!!. we'll
    do the payment before due date and send you the notification</span>
</div>

<table>
  <tr>
    <th>Bill No.</th> <th>Bill Name</th> <th>Type</th> <th>Mobile bill No.</th> <th>Bill Date </th> <th>Due date</th> <th>status</th> <th>info</th>
  </tr>

  <tr *ngFor="let bill of userBills; let i = index">
    <td>{{i+1}}</td>   <td>{{bill.billerName}}</td> <td>{{bill.utilityName}}</td>
    <td>{{bill.paymentFor}}</td> <td>{{bill.billDate}} </td>{{bill.dueDate}}</td>
    <td>
      <span *ngIf="bill.paymentMode=='Pay Now'"> Done </span>
      <span *ngIf="bill.paymentMode=='Confirm Pay'">   
        <p *ngIf="">

      </p></span>
      <span *ngIf="bill.paymentMode=='Auto Pay'"> Auto pay</span>
    </td>
  </tr>
</table>
</div>

</div>
</div>
