<div class="container">
  <br>
  <ul class="nav nav-tabs">
  <li [class.active]="regBillerPage"><a href="javascript:void(0)" (click)=subscribeBiller()>Register Biller</a></li>
  <li [class.active]="bills"><a href="javascript:void(0)" (click)=showBills()>Show Pending Bills</a></li>

</ul>
<br> <br>
<div class="" name="Subscribe Biller" [hidden]="!regBillerPage">


  <form class="form-horizontal" >
  <fieldset>
<div class="">
    <span class="pul-left text-success">
    Hello {{user.fullname}}
  </span>
  <span class="pull-right text-success">
    {{user.username}}
  </span></div>
  <br><br>

  <h1>Subscribe biller:</h1><br>

<div class="form-group">
  <label class="col-md-5 control-label">Select your city:</label>
  <div class="col-md-6">
    <select class="control-label" #city (click)=onInputCity(city.value)>
        <option *ngFor="let x of options" [value]="x.name">{{x.name}}</option>
    </select>
                  {{msg}}
        </div>
      </div>

    <div class="form-group" *ngIf=billers>
        <label class="col-md-5 control-label">select  biller:</label>
            <div class="col-md-6">
              <select class="control-label" #biller (click)=onInputBiller(biller.value)>
                  <option *ngFor="let y of billers" [value]="y.email">{{y.billername}}</option>
              </select>
           </div>
      </div>

      <div class="form-group" *ngIf=billerValue>
        <label class="col-md-5 control-label">Pay from : </label>
          <div class="col-md-6">
         <input type="text" [disabled]="true"  [value]="user.account">
      </div>
    </div>

    <div class="form-group" *ngIf=billerValue >
      <div class="" [hidden]="true ? setTimeout(function(){return false;},1500): true">
          Hello
      </div>

    </div>
    <button class="btn" (click)="back()"> Back </button>
    <button class="btn btn-primary" (click)="proceed()"> Proceed </button>

</fieldset>
</form>
</div>

<div class="" name="Subscribe Biller" [hidden]="!bills">
All bills
</div>
</div>
