<div class="container">
  <br>
  <ul class="nav nav-tabs">
  <li [class.active]="regBillerPage"><a href="javascript:void(0)" (click)=subscribeBiller()>Register Biller</a></li>
  <li [class.active]="bills"><a href="javascript:void(0)" (click)=showBills()>Show Pending Bills</a></li>

</ul>
<br> <br>
<div class="" name="Subscribe Biller" [hidden]="!regBillerPage">

<div class="">
    <span class="pul-left text-success">
    Hello {{user.fullname}}
  </span>
  <span class="pull-right text-success">
    {{user.username}}
  </span></div><br><br>
Subscribe biller:<br><br>

    <div>
        <label>select your city:</label>

            <select #city (click)=onInputCity(city.value)>
                <option *ngFor="let x of options" [value]="x.name">{{x.name}}</option>
            </select>
    </div>


    <div class="" *ngIf=billers>
      <div>
          <label>select  biller:</label>
              <select #biller (click)=onInputBiller(biller.value)>
                  <option *ngFor="let y of billers" [value]="y.email">{{y.billername}}</option>
              </select>
      </div>
    </div>

      <div class="" *ngIf=billerValue>
        <label>Pay from : </label> <input type="text" [disabled]="true"  [value]="user.account">
      </div>


</div>

<div class="" name="Subscribe Biller" [hidden]="!bills">
All bills
</div>
</div>
