<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="col-md-6 col-md-offset-3">
            <h2>Admin-Login</h2>
             <form (ngSubmit)="doLogin()">
              <div class="form-group">
              <input type="email" [(ngModel)]="model.username" #username name="username"class="form-control"  placeholder="Your user name" required />

              </div>
              <span><b class="text-danger">{{msg}}</b></span>
              <div class="form-group">
              <input type="password" [(ngModel)]="model.password" #password name="password"class="form-control"  placeholder="Your password" required />
              </div>
              <button [disabled]="(!(model.username && model.password))" type="submit" class="btn btn-primary">Log in</button>
              </form>
          </div>
      </div>
    </div>
  </div>
