<div class="container">
  <br>
  <ul class="nav nav-tabs">
  <li [class.active]="userForm"><a href="javascript:void(0)" #usePage (click)=userPage(usePage.value)>Add User</a></li>
  <li [class.active]="billerForm"><a href="javascript:void(0)" #billPage (click)=billerPage(billPage.value)>Add Biller</a></li>

</ul>
<br> <br>
  <div class="" name="User Form" [hidden]="!userForm">

  <form class="form-horizontal" (ngSubmit)="addUser() ">
  <fieldset>
  <!-- Form Name -->
  <h1>User Registration Form</h1>
  <!-- Text input-->
  <br>
  <div class="form-group">
    <label class="col-md-4 control-label" for="1">First Name</label>
    <div class="col-md-4">
    <input id="1" name="firstName" type="text" [(ngModel)]="user.firstName" #firstName placeholder="Enter  First Name" class="form-control input-md" required="">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="2">Last Name</label>
    <div class="col-md-4">
    <input id="2" name="lastName" type="text" [(ngModel)]="user.lastName" #lastName placeholder="Enter  Last Name" class="form-control input-md" required="">

    </div>
  </div>




  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="age">Age</label>
    <div class="col-sm-2">
    <input id="3" name="age" type="number" min="18" [(ngModel)]="user.age" placeholder="Enter Age" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="contact">Contact</label>
    <div class="col-md-4">
    <input id="4" name="contact" maxlength="10"  pattern="[0-9]{10}" title="Mobile number should be of 10 digit without +91" placeholder="Enter  mobile number" [(ngModel)]="user.contact" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="contact">Account</label>
    <div class="col-md-4">
    <input id="4" name="account" maxlength="10"  pattern="[0-9]{10}" title="Account number should be of 10 digit" placeholder="Enter  Account number" [(ngModel)]="user.account" class="form-control input-md" required="">
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="3">Email</label>
    <div class="col-md-4">
      <input id="5" name="userName" type="email" placeholder="Enter  User Name" [(ngModel)]="user.userName" class="form-control input-md" required="">
    </div>
    <span class="col-sm-4 pull-right text-primary"><b>{{msg}}</b></span>
  </div>
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="5">Password </label>
    <div class="col-md-4">
      <input id="6" name="password" type="password" placeholder="Enter Password" [(ngModel)]="user.password" class="form-control input-md" required="">

    </div>
  </div>


  <!-- Button (Double) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="1"></label>
    <div class="col-md-8">

      <button type="submit" class="btn btn-success">Save</button>
      <button class="btn btn-danger" type="reset">Discard</button>

    </div>

  </div>
  </fieldset>
  </form>





  </div>
  <div class="" name="Biller Form" [hidden]="!billerForm">

    <form class="form-horizontal" (ngSubmit)="addBiller() ">
    <fieldset>

    <!-- Form Name -->
    <h1>Biller Registration Form</h1>
    <!-- Text input-->
        <br>
    <div class="form-group">
      <label class="col-md-4 control-label" for="1">Biller Name</label>
      <div class="col-md-4">
      <input id="1"  name="billerName" type="text" [(ngModel)]="biller.name" #name  placeholder="Enter Biller Name" class="form-control input-md" required="">

      </div>
    </div>


    <div class="form-group">
      <label class="col-md-4 control-label" for="2">Utility Name</label>
      <div class="col-md-4">
      <input id="2" name="utilityName" type="text" [(ngModel)]="biller.utility" #name  placeholder="Enter  Utility Name" class="form-control input-md" required="">

      </div>
    </div>





    <div class="form-group">
        <label class="col-md-4 control-label" for="options">Select Cities:</label>
        <br>
          <div class="col-md-5">
                <div  class="col-md-5" *ngFor="let option of options" style="margin " >

                    <input id="options" type="checkbox"
                        name="options"
                        (click)="selectedValue(option.name)"
                        [checked]="option.checked"
                        />
                   <label> {{option.name}}   </label>
                </div>
            </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="3">Email</label>
      <div class="col-md-4">
        <input id="5" name="email" type="email" placeholder="Enter  User Name" [(ngModel)]="biller.email" class="form-control input-md" required="">
      </div>
        <span class="col-sm-4 pull-right text-primary"><b>{{msg}}</b></span>
    </div>


    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="5">Password </label>
      <div class="col-md-4">
        <input id="6" name="password" type="password" placeholder="Enter Password" [(ngModel)]="biller.password" class="form-control input-md" required="">

      </div>
    </div>



    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="contact">Account</label>
      <div class="col-md-4">
      <input id="4" name="account" maxlength="10" [(ngModel)]="biller.account" pattern="[0-9]{10}" title="Account number should be of 10 digit" placeholder="Enter account number"  class="form-control input-md" required="">
      </div>
    </div>


    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="1"></label>
      <div class="col-md-8">
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-danger" type="reset">Discard</button>
        </div>

    </div>
    </fieldset>
    </form>



  </div>
</div>
